$color-background: #ffffff; // white
$color-alternative-background: #f7f4f4; // beige
$color-foreground: #00174f; // blue
$color-attention: #bc2433; // red
$color-highlight: #17995A; // green
$color-placeholder: #969696; // dark grey
$color-selected-date: #000000; // black
$color-disabled-foreground: #d5d5d5; // Light grey #3
$color-disabled-background: #f4f4f4; // light grey #1
$color-focus: rgb(59, 153, 252);
